[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
attrs = "*"
argh = "*"
certifi = "*"
click = "*"
configobj = "*"
"discord.py" = "*"
emiz = ">=2018.9.16.4"
everett = "*"
humanize = "*"
"jinja2" = "*"
matplotlib = "*"
metar = "*"
mpmath = "*"
natsort = "*"
numpy = "*"
pefile = "*"
psutil = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
raven = "*"
requests = "*"
"urllib3" = "*"
ipgetter = "*"
inflect = "*"

[dev-packages]
epab = ">=2018.09.09.2"
