-i https://pypi.python.org/simple/
aiohttp==1.0.5
argh==0.26.2
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
click==7.0
configobj==5.0.6
cycler==0.10.0
dataclasses==0.6
delegator.py==0.1.1
discord.py==0.16.12
elib-config==2018.11.2.1
elib-miz==2018.10.21.1
elib-wx==2018.10.29.2
elib==2018.10.1.1
emiz==2018.9.16.4
everett==0.9
future==0.17.1
gitdb2==2.0.5
gitpython==2.1.11
gtts-token==1.1.2
gtts==2.0.1
humanize==0.5.1
idna==2.7
inflect==1.0.1
jinja2==2.10
kiwisolver==1.0.1
markupsafe==1.0
matplotlib==3.0.1
metar==1.6.0
mpmath==1.0.0
multidict==4.4.2
natsort==5.4.1
numpy==1.15.3
packaging==18.0
pathvalidate==0.21.3
pefile==2018.8.8
pexpect==4.6.0
psutil==5.4.8
ptyprocess==0.6.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
pyyaml==3.13
raven==6.9.0
requests==2.20.0
setuptools-scm==3.1.0
six==1.11.0
smmap2==2.0.5
tomlkit==0.4.6
tqdm==4.28.1
ujson==1.35
urllib3==1.24
websockets==3.4
xmltodict==0.11.0
