apipkg==1.4
astroid==1.6.1
attrs==17.4.0
autopep8==1.3.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9; sys_platform == 'win32'
coverage==4.4.2
dparse==0.2.1
epab==0.2.4
execnet==1.5.0
flake8==3.5.0
gitchangelog==3.0.3
hypothesis==3.44.22
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
mimesis==1.0.5
packaging==16.8
pkginfo==1.4.1
pluggy==0.6.0
py==1.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
pylint==1.8.2
pyparsing==2.2.0
pytest==3.3.2
pytest-cache==1.0
pytest-cov==2.5.1
pytest-mock==1.6.3
pytest-pycharm==0.5.0
pyyaml==3.12
requests==2.18.4
requests-toolbelt==0.8.0
safety==1.6.1
semver==2.7.9
six==1.11.0
tqdm==4.19.5
twine==1.9.1
urllib3==1.22
versioneer==0.18
wheel==0.30.0
wrapt==1.10.11