-i https://pypi.python.org/simple/
apipkg==1.5
argh==0.26.2
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
bandit==1.5.1
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
click==7.0
colorama==0.4.1
coverage==4.5.2
dataclasses==0.6
docopt==0.6.2
docutils==0.14
dparse==0.4.1
elib-config==2018.11.27.1
elib-run==2018.10.26.1
epab==2018.10.25.1
execnet==1.5.0
faker==1.0.0
flake8==3.6.0
future==0.17.1
gitchangelog==3.0.3
gitdb2==2.0.5
gitpython==2.1.11
hypothesis==3.82.1
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
mockito==1.1.1
more-itertools==4.3.0
multidict==4.5.1
mypy-extensions==0.4.1
mypy==0.641
packaging==18.0
pathtools==0.1.2
pbr==5.1.1
pefile==2018.8.8
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pygments==2.3.0
pylint==2.2.1
pyparsing==2.3.0
pytest-cache==1.0
pytest-cov==2.6.0
pytest-deadfixtures==2.1.0
pytest-faker==2.0.0
pytest-pycharm==0.5.0
pytest-repeat==0.7.0
pytest-vcr==1.0.1
pytest-watch==4.2.0
pytest==4.0.1
python-dateutil==2.7.5
pyyaml==3.13
readme-renderer==24.0
requests-toolbelt==0.8.0
requests==2.20.1
safety==1.8.4
sarge==0.1.5.post0
setuptools-scm==3.1.0
six==1.11.0
smmap2==2.0.5
stevedore==1.30.0
text-unidecode==1.2
toml==0.10.0
tomlkit==0.5.3
tqdm==4.28.1
twine==1.12.1
typed-ast==1.1.0 ; python_version < '3.7' and implementation_name == 'cpython'
urllib3==1.24.1
vcrpy==2.0.1
watchdog==0.9.0
webencodings==0.5.1
wheel==0.32.3
wrapt==1.10.11
yarl==1.2.6 ; python_version >= '3.4'
